@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Nunito:wght@300&family=Share+Tech+Mono&family=Unbounded:wght@200&display=swap");
:root {
  font-family: "Unbounded", cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  background-color: black;
  width: 3px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background-color: cyan;
}
